[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/msd_channel"]
	path = vendor/msd_channel
	url = https://github.com/andreiavrammsd/cpp-channel
[submodule "vendor/quill"]
	path = vendor/quill
	url = git@github.com:dan1338/quill.git
	branch = collapse_repetitions
[submodule "vendor/charls"]
	path = vendor/charls
	url = https://github.com/team-charls/charls
